<footer class="pag__footer">

    <section class="footer-section">
        <div class="footer__footer-container">

            <nav class="footer__nav">
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">Articles</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Books</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Events</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Reasons</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Tips</a></li>
                </ul>
            </nav>

            <div class="footer__social">
                <ul class="footer__social-list">
                    <li class="footer__social-item"><a href="#" class="footer__social-link">Twitter</a></li>
                    <li class="footer__social-item"><a href="#" class="footer__social-link">Instagram</a></li>
                    <li class="footer__social-item"><a href="#" class="footer__social-link">Mastodon.social</a></li>
                </ul>
            </div>

            <div class="footer__copy">
                <p class="footer__text-copy">©2017</p>
                <p class="footer__text-components">we <span class="footer__heart">❤︎</span> components</p>
            </div>

        </div>
    </section>


</footer>