<main class="pag__main">

    <section class="hero">
        <div class="hero__container">

            <div class="hero__info">
                <h1 class="hero__title">Anonymous Proxy</h1>

                <p class="hero__text">In hac habitasse platea dictumst.</p>
            </div>

            <div class="hero__icon">
                <a href="#" class="hero__link-icon"><img src="assets/images/ico-scroll-down.svg" alt="icon hero"
                        class="hero__img-icon"></a>
            </div>

        </div>
    </section>

    <section class="looking">
        <div class="looking__container">

            <p class="looking__line">Insomnia Tips</p>

            <h2 class="looking__title">Looking Through A Window</h2>

            <p class="looking__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>

            <div class="looking__go">
                <a href="#" class="looking__link">Go</a>
            </div>

        </div>
    </section>

    <section class="reasons">
        <div class="reasons__container">

            <h2 class="reasons__title">3 Reasons To Purchase</h2>

            <div class="reasons__container-list">
                <ul class="reasons__list">
                    <li class="reasons__item">
                        <h3 class="reasons__item-title">Ut sed metus</h3>
                        <p class="reasons__item-text">Lorem ipsum dolor sit amet, consecteur.</p>
                    </li>
                    <li class="reasons__item">
                        <h3 class="reasons__item-title">Curabitur ac erat</h3>
                        <p class="reasons__item-text">Mauris mattis urna quis lorem molestie.</p>
                    </li>
                    <li class="reasons__item">
                        <h3 class="reasons__item-title">Morbi dictum</h3>
                        <p class="reasons__item-text">Aliquam in dolor et dolor tincidunt.</p>
                    </li>
                </ul>
            </div>

            <div class="reasons__container-button">
                <button class="reasons__button">More reasons</button>
            </div>

            <div class="reasons__arrow">
                <a href="#" class="reasons__link-icon"><img src="assets/images/ico-arrow.svg" alt="arrow icon" class="reasons__img-icon"></a>
            </div>
            
        </div>
    </section>

</main>