*{
    margin:0;
}

.hero{
    background-image: url(../images/cover.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero__container{
    width: 290px;
    text-align: center;
}

.hero__title{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: white;
    font-size: 42px;
    text-transform: uppercase;
}

.hero__text{
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 10px 15px 50px;
}

.hero__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 52px;
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 50%;
    transform: translateX(123px);
}

.hero__link-icon{
    margin-top: 2px;
}