*{
    margin:0;
}

.hero{
    background-image: url(../images/cover.jpg);
    height: 100vh;
}

.hero__container{

}

.hero__title{
    color: white;
    size: 42px;
    text-transform: uppercase;
}

.hero__icon{
    
}